/* Hola Nikito! */
html {
  font-size: 20px; /* Altura de la letra */
  font-family: "Open Sans", sans-serif; /* Letrita */
  background-color: #107744; /* fondite */
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

p, li { /*Modifico el parrafito y la lista*/
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
img { /*Modifico las imagenes */
  display: block;
  margin: 0 auto;
  width: 90%;
}